<p id='bfm'></p>
<h2 class="title">Sales overview</h2>

<div class='sales-container'>
  <div class='store-sales'>
    <p class='legend'>Store overview</p>

    <%= render partial: 'sales/table', locals: { type: 'Store',
                                                     data: store_inventory,
                                                     title: 'Stock per store'  } %>
   <%= render partial: 'sales/table', locals: { type: 'Store',
                                                     data: number_of_sales_by_store,
                                                     title: 'Sales per store'} %>
  </div>

  <div class='model-sales'>
    <p class='legend'>Model overview</p>

    <%= render partial: 'sales/table', locals: { type: 'Model',
                                                      data: model_inventory,
                                                      title: 'Stock per model'  } %>
    <%= render partial: 'sales/table', locals: { type: 'Model',
                                                      data: number_of_sales_by_model,
                                                      title: 'Sales per model'} %>
  </div>
</div>
