<h1>ALDO Inventory Dashboard</h1>

<div>Obviously, this page should be secured...</div>

<div id="updates">
  <div class="summary">
    <div class="title">Current updates:</div>
    <div id="update-window"></div>
  </div>
</div>

<div id="charts">
  <div class="summary">
    <div class="title">Charts</div>
    <div id="charts-window">Charts go here...</div>
  </div>
</div>

<div>You can do other things too, add controls for inventory shifting, link the updates to store or model details, etc.</div>
