<% content_for :sidebar do %>
  <div id="updates">
    <div class="summary">
      <div class="title">Current updates:</div>
      <div id="update-window"></div>
    </div>
  </div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>

      <% @stores.each do |store| %>
      <div class="store-chart">
        <div class="name"><%=store.name%></div>
          <div class="ct-chart ct-perfect-fourth" id="inventory-chart-<%=store.id%>" />
      </div>
      <% end %>
      </div>
    </main>
  </div>
</div>

<!-- Graphs -->
<script>
  stores = <%= @stores.map do |store|
              inv = store.inventories.includes(:sku).order('skus.name asc').map { |i| [i.sku.name, i.quantity] }.to_h
              {id: store.id, labels: inv.keys, data: inv.values }
            end.to_json.html_safe %>

  for (var i = 0; i < stores.length; i++) {
    store = stores[i]
    console.log("Store: " + store['id'] + " | labels: " + store['labels'] + " | data: " + store['data'])

    new Chartist.Bar("#inventory-chart-" + store['id'], {
      labels: store['labels'],
      series: [store['data']]
    }, {
      seriesBarDistance: 10,
      reverseData: true,
      horizontalBars: true,
      axisY: {
        offset: 70
      }
    });
  };
</script>


</body>
