{
  "root": true,

  "extends": ["react-app", "airbnb", "plugin:prettier/recommended", "prettier/react"],

  "env": {
    "browser": true
  },

  "rules": {
    "import/no-named-as-default": 0,
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/forbid-prop-types": ["error", { "forbid": ["any"] }]
  },

  "overrides": [
    {
      "files": ["**/*.test.js"],
      "plugins": ["jest"],
      "rules": {
        "max-statements": 0
      }
    }
  ]

}
