.legend {
  display: flex;
  align-items: center;
  color: grey;
  font-size: 24px;
  text-align: center;
  width: 50px;
}

.store-sales, .model-sales {
  padding-bottom: 20px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  border: 2px solid grey;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 20px;
}
