html,
body {
	margin: 0;
	padding: 0;
  border: 0;
}

.stores button {
	flex: 0 0 70px;
}

ul.models {
	display: flex;
	flex-wrap: wrap;
}

li.model {
	display: flex;
	justify-content: space-around;
	width: 50%;
	border-bottom: 1px solid gray;
	padding: 5px 50px;
	text-align: center;
}

li.model div {
	width: 150px;
}

li.model .in-stock span {
	color: green;
}

li.model .should-restock span {
	color: red;
}

li.model .could-restock span {
	color: orange;
}

div.status-bar {
	width: 100%;
	display: flex;
	left: 0;
	right: 0;
	bottom: 0;
}

div.status-bar div {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	border-radius: 0;
	text-align: center;
}