var ws = new WebSocket('ws://localhost:8080/inventory');

ws.onmessage = function(event) {
  let json = JSON.parse(event.data);
  const warningId = Math.random().toString(36).substring(2);
  $("#warning").append(`<div id=${warningId} class=${stockLevel(json)}>${warningPayload(json)}</div>`).delay(1000).fadeIn();
  $(`#${warningId}`).delay(15000).fadeOut(2000);
};

function warningPayload(json) {
  const store = json['store'];
  const model = json['model'];
  const inventory = json['inventory'];
  return `<strong>${store}</strong> : ${model} (${inventory})`;
};

function stockLevel(json) {
  const limit = $('.critical_number').text();
  const inventory = json['inventory'];
  if (json['inventory'] <= limit) {
    return  `critical`;
  } else {
    return `safe`;
  };
};
