var ws = new WebSocket('ws://localhost:8080/inventory');

ws.onmessage = function(event) {
  displayStockInformation();
};

function displayStockInformation() {
  let json = JSON.parse(event.data);
  const warningId = Math.random().toString(36).substring(2);
  $("#warning").append(`<div id=${warningId} class=${stockLevel(json)}>${stockInformation(json)}</div>`)
               .delay(1000)
               .fadeIn();
  $(`#${warningId}`).delay(15000).fadeOut(2000);
}

function stockInformation(json) {
  const store = json['store'];
  const model = json['model'];
  const inventory = json['inventory'];
  return `<strong>${store}</strong> : ${model} (${inventory})`;
};

function stockLevel(json) {
  const critical_limit = $('.critical_limit_value').text();
  const high_limit = $('.high_limit_value').text();

  const inventory = json['inventory'];
  if (json['inventory'] <= critical_limit) {
    return  `critical_limit`;
  } else if (json['inventory'] >= high_limit) {
    return `high_limit`;
  } else {
    return `safe`;
  };
};
